
{% extends 'base.html' %}

{% block body_block %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% load staticfiles %}
        <img src="{% static ''%}img/colleges_pics/{{college.name}}.jpg" class="center-block img-responsive" style="width:800px;height:500px;">
        <h1>{{college.get_name_display}}</h1>
        <p>
            {{college.description}}
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
            <tr>
              <th style="text-align:center">Sport</th>
              <th style="text-align:center">Score</th>
            </tr>
          </thead>
          
          <tbody>
            <tr><td align=center> Total </td><td align=center> {{ college.total }} </td></tr>
            {% for sport in scores %}
                  <tr><td align=center> {{ sport.0 }} </td><td align=center>  {{ sport.1 }} </td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
